body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.carousel {
  position: relative;
  width: 1000px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.images {
  display: flex; /* Align images horizontally */
  transition: transform 0.5s ease; /* Smooth transition when moving between images */
  height: 60vh; /* Adjust as necessary */
  overflow: hidden; /* Hide any images that are out of view */
  width: 100%; /* Ensure the container takes up the full width */
}

.images img {
  width: 100%; /* Ensure each image takes up the full width of the container */
  height: 100%; /* Adjust image height to fit the container */
  object-fit: cover; /* Ensure the image doesn't stretch and maintains aspect ratio */
  transition: transform 0.5s ease; /* Optional: Smooth transition for scaling */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(232, 57, 9, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 100px;
}

#next {
  right: 100px;
}

.slideshow-container #auto-slideshow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#auto-slideshow:hover {
  background-color: #45a049;
}
